@import 'tailwindcss';

/* ✅ IMPORTAR TOKENS (obrigatório) */
@import './tokens/index.css';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Font */
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* Toast */
    --color-ui-toast-success: var(--ui-toast-success);
    --color-ui-toast-error: var(--ui-toast-error);
    --color-ui-toast-warning: var(--ui-toast-warning);
    --color-ui-toast-info: var(--ui-toast-info);
    --color-ui-toast-text: var(--ui-toast-text);

    /* Modal / Card */
    --shadow-ui-card: var(--shadow-ui-card);

    /* App (base) */
    --color-ui-app-bg: var(--ui-app-bg);
    --color-ui-app-text: var(--ui-app-text);

    /* Navigation */
    --color-ui-nav-bg: var(--ui-nav-bg);
    --color-ui-nav-border: var(--ui-nav-border);
}
